<table class="row content">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td class="center text-pad" align="center">

            <center>
              <h2 class="title">{{ .I18n.one_more_step }}</h2>

              <p><a href="mailto:{{ .Email }}">{{ .Email }}</a></p>

              <p>{{ .I18n.click_button }}</p>

              <table class="medium-button main-action radius">
                <tr>
                  <td>
                    <a href="{{ .ActivationUrl }}">{{ .I18n.activate_account }}</a>
                  </td>
                </tr>
              </table>
            </center>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
